<% provide(:title, 'About us') %>
<!DOCTYPE html>
<body>
    <h1>About us</h1>
    <p>Just to pass the test. More details: <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a></p>
</body>


